<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="../../../assets/avatra.png">
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>
                    As a passionate frontend developer with a knack for creating visually stunning and highly functional user
                     interfaces, I bring 2 years of experience to the table. My
                      expertise lies in utilizing modern technologies like HTML,
                     CSS, JavaScript, and frameworks such as React and Angular to
                      craft responsive, user-friendly web applications. I thrive on transforming 
                      complex problems into intuitive and elegant designs, ensuring seamless user experiences
                       across all devices. With a strong eye for detail and a commitment to staying updated with 
                       the latest industry trends, I am dedicated to delivering high-quality, cutting-edge web solutions
                       . Let's build something amazing together!
                </p>
                <div class="tab-titles">
                    <p class="tab-links" [class.active-link]="activeTab === 0 " (click)="tab(0)">Skills</p>
                    <p class="tab-links" [class.active-link]="activeTab === 1 " (click)="tab(1)">Experience</p>
                    <p class="tab-links" [class.active-link]="activeTab === 2 " (click)="tab(2)">Education</p>
                </div>
                <div class="tab-contents" *ngIf="tabMenu[0]">

                    <div class="skills">
                        <div class="skill" *ngFor="let skill of skills">
                            <div class="skill-box-1">
                                <span class="skill-name">{{ skill.name }}</span>
                                <span class="skill-percentage">{{ skill.percentage }}%</span>
                            </div>
                            <div class="skill-box-2">
                                <div class="skill-animated-line" [style.width.%]="skill.percentage">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-contents" *ngIf="tabMenu[1]">
                    <div class="experience-section">
                        <div class="experience">
                            <div class="date">08/2023 - Present</div>
                            <div class="title"></div>
                            <ul class="desc">
                                <li><span>Skills & Technologies: </span>CMS Developer</li>
                                <li><span>Nexcel Solutions</span></li>
                                <li>Developed custom WordPress themes and plugins, ensuring tailored functionality and adherence to client requirements
                                </li>
                                <li>Applied UI/UX principles to create user-friendly, visually appealing website designs
                                </li>
                                <li>Migrated websites to WordPress with minimal downtime and data loss, ensuring seamless 
                                    transitions
                                </li>
                                <li>Integrated third-party APIs, including payment gateways and marketing tools, to enhance 
                                    functionality
                                </li>
                                <li>Monitored and updated websites for security, performance, and SEO optimization
                                </li>
                                <li>Provided client training and ongoing technical support to ensure effective website 
                                    management.
                                </li>
                            </ul>
                        </div>
                        <div class="experience">
                            <div class="date">01/2023 - 07/2023</div>
                            <div class="title"></div>
                            <ul class="desc">
                                <li><span>Skills & Technologies: </span>Junior Wordpress Developer</li>
                                <li><span>Bitsclan IT Solutions</span></li>
                                <li>Assisted in the development and maintenance of CMS-based websites, ensuring 
                                    responsiveness and cross-browser compatibility
                                </li>
                                <li>Assisted in the development and maintenance of CMS-based websites, ensuring 
                                    responsiveness and cross-browser compatibility
                                </li>
                                <li>Customized templates, themes, and plugins to meet client-specific requirements
                                </li>
                                <li>Collaborated with designers and senior developers to implement new features and 
                                    improve user interfaces
                                </li>
                                <li>Conducted functional testing and debugging to ensure optimal performance and 
                                    adherence to project requirements
                                </li>
                                <li>Worked with CMS platforms such as WordPress, Joomla, and Drupal to deliver tailored 
                                    solutions.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-contents" *ngIf="tabMenu[2]">
                    <ul>
                        <li><span>2016</span><br>Matriculation - 84%</li>
                        <li><span>2018</span><br>Intermediate - 72%</li>
                        <li><span>2022</span><br>Computer scince</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>