<header>
    <div class="container2">
        <div class="home-con">
            <div class="header-text">
                <h3 class="top">Hello, It's Me</h3>
                <h1>Amer Usman</h1>
                <h3>And I'm a <span class="multiple-text"></span></h3>
                <p>
                    My expertise lies in creating seamless user experiences and bringing innovative 
                    design concepts to life. I thrive on challenges and am always eager to learn new
                     technologies to stay ahead in the ever-evolving world of web development.
                </p>
                <div class="social-icons1">
                    <a style="--i:7" href="https://github.com/" target="_blank"><i
                            class="fa-brands fa-github"></i></a>
                    <a style="--i:8" href="https://www.linkedin.com/" target="_blank"><i
                            class="fa-brands fa-linkedin"></i></a>
                    <a style="--i:9" href="https://www.facebook.com/" target="_blank"><i
                            class="fab fa-facebook"></i></a>
                    <a style="--i:10" href="https://instagram.com/"
                        target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
                <a href="#" class="btn3" download>Download CV</a>
            </div>
        </div>
        <div class="img-port">
            <img src="../../../assets/avatra.png">
        </div>
    </div>
</header>
